---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "coriixyz | about";
const hobbies = [
  "Tinkering with computer hardware & software",
  "Car stuff",
  "Listening to music 24/7",
  "A few video games",
  "Watching anime on occasion (..or many occasions)",
  "Mindlessly watching YouTube videos",
];
---

<BaseLayout pageTitle={pageTitle}>
  <body>
    <h2>Who am I?</h2>
    <p>
      👋 Hey, you can call me Cori! My username is <b>coriixyz</b>; however, I previously went under the alias "<u>WindowsWorld</u>". I am a 21 year old I.T. graduate from the eastern United States. 
    </p>
    <h2>Hobbies & Things I Enjoy</h2><p></p><ul>
      {hobbies.map((hobbies) => <li class="hobby">{hobbies}</li>)}
    </ul>
    <h2>Contact</h2>
    <p>Feel free to reach out using any of these methods:</p>
    <ul>
      <li>
        Email: 
        <a href="mailto:cori@corii.xyz">cori@corii.xyz</a>
      </li>
      <li>
        Discord: <a title="*this link may not work if I am not added as a friend!" href="https://discord.com/users/337795524445077504"
          >coriixyz</a
        >
      </li>
    </ul>
  </body>
</BaseLayout>
