---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "about | winbyte";
const hobbies = [
  "Tinkering with computer hardware & software",
  "DIY Automotive Work",
  "Hanging out with my cat 😎",
  "FPS games",
  "Watching anime on occasion (..or many occasions)",
  "Mindlessly watching YouTube videos",
];
---

<BaseLayout pageTitle={pageTitle}>
  <body>
    <h2>Who am I?</h2>
    <p>
      👋 Hey, you can call me Cori! My username is <b>winbyte</b>; however, I previously went under the alias "<u>WindowsWorld</u>". I am a 20 year old student from the eastern United States studying <u>Information Technology</u>. 
    </p>
    <h2>Hobbies & Things I Enjoy</h2><p></p><ul>
      {hobbies.map((hobbies) => <li class="hobby">{hobbies}</li>)}
    </ul>
    <h2>Contact</h2>
    <p>Feel free to reach out using any of these methods:</p>
    <ul>
      <li>
        Email: 
        <a href="mailto:cori@winbyte.one">cori@winbyte.one</a>
      </li>
      <li>
        Discord: <a title="*this link may not work if I am not added as a friend!" href="https://discord.com/users/203349703994245120"
          >coriixyz</a
        >
      </li>
    </ul>
  </body>
</BaseLayout>
