---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "coriixyz | home";
---

<BaseLayout pageTitle={pageTitle}>
  
  <p>
    Welcome to my page. I go by
    <span class="bg-gradient-to-r from-purple-500 to-blue-200 bg-clip-text text-transparent">Cori</span>,
    and I'm an IT graduate and technology hobbyist from the eastern US. 
    This site contains a little information about me as well as some contact methods, feel free to take a look!
  </p>
  <h2></h2>
  <p>Visit me on these platforms:</p>
  <ul>
    <li>GitHub:
      <a href="https://github.com/coriixyz">coriixyz</a>
    </li>
    <li>Discord: 
      <a title="*this link may not work if I am not added as a friend!" href="https://discord.com/users/337795524445077504"
        >coriixyz</a>
    </li>
    <li>Twitter: 
      <a href="https://twitter.com/coriixyz">coriixyz</a>
    </li>
    <li>Steam: 
      <a href="https://steamcommunity.com/id/coriixyz/">coriixyz</a>
    </li>
    <li>YouTube:
      <a href="https://youtube.com/@winbyte/">winbyte</a>
    </li>
  </ul>
</BaseLayout>
