---
import BasicLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BasicLayout pageTitle={frontmatter.title}>
  <p>
    📅 Date Added: {frontmatter.itemDate.slice(0, 10)}
  </p>
  {/*
  <img src={frontmatter.image.url} width="280" alt={frontmatter.image.alt} />
    image embed to be implemented
  */}
  <p><em>{frontmatter.description}</em></p>
  <slot />
</BasicLayout>
